body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: black;
    color:#fff;
    overflow: hidden;
}
.one{
    display: flex;
    height: 100vh;
    padding: 0.4rem;
}
.sidebar{
    background-color: black;
    width: 270px;
    border-radius: 1rem;
    margin-right: 0.4rem;
}
.main_content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}
.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
}
a{
    text-decoration:none;
    color: white;

}
.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.4rem 0.65rem;
}
.nav-option{
    line-height: 2rem;
    opacity: 0.7;
    padding: 0.4rem 0.75rem;
}
.nav-option:hover{
    opacity: 1;
}
.nav-option i{
    font-size: 1.1rem;
}
.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}
.libr {
    background-color: #121212;
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 0.4rem 0.65rem ;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.lib-option img{
    height: 1.15rem;
    width: 1.15rem;
}
.icon{
    font-size: 1.15rem;
    
    display: flex;
}
.icon i{
    opacity: 0.7;
    margin-right: 1rem;

}
.icon i:hover{
    opacity: 1;
}
.box{
    height: 7.2rem;
    background-color: #232323;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1.25rem;
}
.box-p1{
    font-size: 0.8rem;
    font-weight: 500;
}
.box-p2{
    font-size: 0.75rem;
    opacity: 0.75;
}
.badge{
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}
.dark-color{
    background-color: black;
    color: white;

}
.stick-nav{
    background-color: #121212;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 0.8rem 0 0.8rem 0;
    z-index: 10;
}
.icon1{
    margin-left: 0.45rem;

}
.stick-option{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item{
    margin-left: 1rem;
}
@media (max-width:1000px){
    .hide{
        display: none;
    }
}
.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1rem;
    margin-top: 0.8rem;
}
.card-cont{
    display: flex;
    flex-wrap: wrap;
}
.card-img{
    width: 100%;
    border-radius: 0.5rem;
}
.card-title{
    font-weight: 600;
}
.card-info{
    font-size: 0.75rem;
    opacity: 0.7;
}
.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line  {
    width: 90%;
    height: 50%;
    border-top: 1px solid white;
    opacity: 0.4;
}
.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.player-control{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px ;
}
.alubm{
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 2px;
}
.imge{
    height: 50px;
    width: 50px;
}
.p1{
    font-weight: 600;
    position: absolute;
    left: 60px;
    bottom: 20px;
}
.p2{
    font-weight:lighter;
    opacity: 0.8;
    position: absolute;
    left: 60px;
    bottom: 2px;
}
.music-cont-i{
    height: 1.2rem;
    margin-right: 70px;
    margin-top: 13px;
    opacity: 0.7;
}
.music-cont-i:hover{
    opacity: 1;
}
.player1{
    width: 50%;
}
.control{
    width: 25%;
}
.play-cont-i{
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}
.play-cont-i:hover{
    opacity: 1;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pro-bar{
    width: 80%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.pro-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    height: 0.25rem;
    border-radius: 100px;
}
.pro-bar::-webkit-slider-thumb{
    appearance: none;
    height: 0.8rem;
    width: 0.8rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -4px;
}

.ctrl-cont-i{
    height: 1.5rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}
.ctrl-cont-i:hover{
    opacity: 1;
}